body {
    font-family: 'Pirate-Jack', Courier, monospace;
    background: var(--cor-secundaria); 
    overflow: hidden;
}

body::before { /* criação de um elemento antes do body, um elemento que não existe no html */
    content: ''; /* sempre que criar o before tem que usar esse content vazio */
    background-image: url("../imagens/capital-das-flores.png"); 
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
}

main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.cabecalho {
    z-index: 1;  /* coloca "pra frente" o elemento*/
    display: flex;
    justify-content: center; /* centraliza o titulo junto com o display flex */
}

.cabecalho .titulo {
    color: var(--cor-titulo-fraco);
    text-transform: uppercase;
    font-size: 52px;
    line-height: 102px;
    -webkit-text-stroke: 2px var(--cor-titulo-forte); /* funciona em vários navegadores */
}

.selecao-de-personagens {
    display: flex;
    align-items: center;  /* alinha verticalmente */
    justify-content: center;  /*alinha horizontalmente */
}

.selecao-de-personagens .personagem-grande {
    text-align: center;
    width: 30%;
    height: 70vh;
    position: relative;
}

.selecao-de-personagens .personagem-grande img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.selecao-de-personagens .personagem-grande .nome h2 {
    text-shadow: 2px 2px 2px #d416ce;

    color: var(--cor-padrao);
    font-family: 'Pirate-Ship', sans-serif;
    position: absolute;
    bottom: -15px;
    width: 100%;
    font-size: 27px;
}

.selecao-de-personagens .personagem-grande .nome::before {
    /* criação do retângulo nos nomes dos personagens */
    content: '';
    height: 30px;
    width: 100%;
    position: absolute;
    bottom: -25px;
    left: 0;
}

.selecao-de-personagens .personagem-grande.personagem-jogador-1 .nome::before {
    background-color: var(--cor-azul-principal);
}

.selecao-de-personagens .personagem-grande.personagem-jogador-2 .nome::before {
    background-color: var(--cor-vermelha-principal);
}

.selecao-de-personagens .lista-de-personagens {
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    justify-content: center;
    gap: 12px;
}

.selecao-de-personagens .lista-de-personagens .personagem {
    border: 2px solid var(--cor-padrao);
    background-color: var(--cor-padrao);
    width: 30%;
    height: 160px;
    cursor: pointer;
    z-index: 2;
    border-radius: 5px;
    position: relative;
    transition: 0.15s ease-in-out;
}

.selecao-de-personagens .lista-de-personagens .personagem img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.selecao-de-personagens .lista-de-personagens .personagem.selecionado {
    border: 2px solid var(--cor-azul-media);
    animation: c-glowing-blue .3s ease-in-out infinite;
    animation-direction: alternate;
}

.selecao-de-personagens .lista-de-personagens .personagem:hover {
    animation: c-glowing-blue .3s ease-in-out infinite;
    animation-direction: alternate;
    transform: scale(1.07);
    z-index: 2;
}

.selecao-de-personagens .lista-de-personagens .personagem.jogador-2-selecionado {
    border: 2px solid var(--cor-vermelha-fraca);
    animation: c-glowing-red .3s ease-in-out infinite;
    animation-direction: alternate;
}

.selecao-de-personagens .lista-de-personagens .personagem.jogador-2-selecionado:hover {
    animation: c-glowing-red .3s ease-in-out infinite;
    animation-direction: alternate;
}

.selecao-de-personagens .lista-de-personagens .personagem .tag {
    display: none;
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    top: 5px;
    left: 5px;
    color: var(--cor-azul-media);
    transition: opacity .3 ease-in-out;
    animation: text-glowing-blue .3s ease-in-out infinite;
    animation-direction: alternate;
}

.selecao-de-personagens .lista-de-personagens .personagem.selecionado .tag {
    display: block;
    animation: text-glowing-blue .3s ease-in-out infinite;
    animation-direction: alternate;
}

.selecao-de-personagens .lista-de-personagens .personagem.jogador-2-selecionado .tag {
    display: block;
    animation: text-glowing-blue .3s ease-in-out infinite;
    animation-direction: alternate;
}