/* Reset é usado para tirar os estilos que o navegador coloca */

* {
    padding: 0%;
    margin: 0%;
    border: 0%;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

ul {
    list-style: none;
}